{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/401.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>401</h1>
            {% for error in get_flashed_messages() %}
            <span class="subheading">{{ error }}</span>
            {% endfor %}
            <br>
            <a href="{{url_for('login')}}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>  </p>
      </div>
    </div>
  </div>

  <hr>

