{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}


{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/mycnt.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <span class="subheading"> Make changes to your name and, if you wish, password too!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for message in get_flashed_messages() %}
        <p style="color:green"> {{ message }}</p>
        {% endfor %}


        {{ render_form(form, action=url_for('my_account', my_id=current_user.id), method='post', novalidate=True, button_map={"submit": "btn-outline-secondary"}) }}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}
